body {
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  top: 15%;
}


h1 {
    font: 600 2.7em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
  color: black;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

h5{
    font-family: 'Paytone One', sans-serif;
}
p{
    font-size: 30px;
}
.button {
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #3e8e50;
  border: none;
  border-radius: 15px;
}
.button:hover {background-color: #205b22}

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

fieldset{
    border-width: 7px;
}

span{
    font-size: 35px;
    font-weight: bold;
}